{% extends 'layout.html' %}
{% block content %}
<head>
    <script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <style>
      .chart--container {
        height: 100%;
        width: 100%;
        min-height: 530px;
      }
  
      .zc-ref {
        display: none;
      }
    </style>
</head>

      <body class="zc-body">
        ​
        <div id="myChart" class="chart--container">
          <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
        </div>
        
        <dv>
          
          [
          {% for request in requests_queryset %}
          [ '
          {{ request.date }}
          ' , 
          {{ request.count }}
          ],
          {% endfor %}
          ]
        </dv>
        <p></p>
        <p></p>
        <p></p>
        <dv>
          {{requests_queryset}}
        </dv>
        <p></p>
        <p></p>
        <p></p>
        <dv>
          {%requests_queryset%}
        </dv>


        <!-- <script>
          ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"]; // DEFINE DATA
          // -----------------------------
          let optionValues = response_data;

          // CHART CONFIG
          // -----------------------------
          let chartConfig = {
            type: 'calendar',
            options: {
              values: optionValues,
              month: {
                item: {
                  fontColor: 'gray',
                  fontSize: '9px'
                }
              },
              palette: ['none', '#4CAF50'],
              startMonth: 1,
              endMonth: 6,
              weekday: {
                values: ['', 'M', '', 'W', '', 'F', ''],
                item: {
                  fontColor: 'gray',
                  fontSize: '9px'
                }
              },
              year: {
                text: '2020',
                visible: false
              }
            },
            plotarea: {
              marginTop: '15%',
              marginRight: '8%',
              marginBottom: '55%',
              marginLeft: '8%'
            },
            labels: [{ //Lefthand Label (container portion)
                borderColor: 'gray',
                borderWidth: '1px',
                width: '40%',
                height: '30%',
                x: '8%',
                y: '60%'
              },
              { //Lefthand Label (top portion)
                text: 'Daily Contribution',
                fontColor: '#212121',
                textAlign: 'center',
                width: '36%',
                x: '10%',
                y: '65%'
              },
              { //Lefthand Label (middle portion)
                text: '%plot-value',
                fontColor: '#4CAF50',
                fontFamily: 'Georgia',
                fontSize: '35px',
                textAlign: 'center',
                width: '36%',
                x: '10%',
                y: '68%'
              },
              // Note: the bottom portion of the Bottom-Left Label is the fixed tooltip, below.
              { //Rightside Label (container portion)
                borderColor: 'gray',
                borderWidth: '1px',
                width: '40%',
                height: '30%',
                x: '52%',
                y: '60%'
              },
              { //Rightside Label (top portion)
                text: 'Total Contributions',
                fontColor: '#212121',
                textAlign: 'center',
                width: '36%',
                x: '54%',
                y: '65%'
              },
              { //Rightside Label (middle portion)
                text: '1414',
                fontColor: '#4CAF50',
                fontFamily: 'Georgia',
                fontSize: '35px',
                textAlign: 'center',
                width: '36%',
                x: '54%',
                y: '68%'
              },
              { //Rightside Label (bottom portion)
                text: 'Jan 1 - Jun 30',
                padding: '2px',
                fontColor: '#212121',
                textAlign: 'center',
                width: '36%',
                x: '54%',
                y: '80%'
              }
            ],
            tooltip: { //Lefthand Label (bottom portion)
              text: '%data-day',
              align: 'center',
              padding: '2px',
              backgroundColor: 'none',
              borderColor: 'none',
              fontColor: '#212121',
              sticky: true,
              timeout: 30000,
              width: '36%',
              x: '10%',
              y: '80%'
            }
          };

          // RENDER CHARTS
          // -----------------------------
          zingchart.loadModules('calendar', () => {
            zingchart.render({
              id: 'myChart',
              data: chartConfig
            });
          });
        </script> -->
      </body>

{% endblock %}


{% block scripts %}


{% load static %}
<!-- <script>
$(document).ready(function() {
  $("#formButton").click(function() {
    $("#form1").toggle();
  });
});
</script>
    <script>
        function showonlyonev2(thechosenone, buttonid, buttonid2) {
              var newboxes = document.getElementsByTagName("div");
              for(var x=0; x<newboxes.length; x++) {
                    name = newboxes[x].getAttribute("class");
                    if (name == 'tab-pane') {
                          if (newboxes[x].id == thechosenone) {
                                if (newboxes[x].style.display == 'block') {
                                      newboxes[x].style.display = 'none';
                                }
                                else {
                                      newboxes[x].style.display = 'block';
                                }
                          }else {
                                newboxes[x].style.display = 'none';
                          }
                    }
              }
            document.getElementById(buttonid).className = "btn btn-primary";
            document.getElementById(buttonid2).className = "btn btn-info";
        }
    </script> -->

{% endblock %}

{# Good resource for creating tabs: http://www.randomsnippets.com/2008/02/12/how-to-hide-and-show-your-div/ #}
{# I could probably clean this up a bit by iterating through the types of content I want to see (filtered/all) and by cleaning up the variable names #}
{# Known Issue: Once you press the button twice the main table disappears. #}