{% extends 'layout.html' %}
{% block content %}
<head>
    <script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <style>
      .chart--container {
        height: 100%;
        width: 100%;
        min-height: 530px;
      }
  
      .zc-ref {
        display: none;
      }
    </style>
    <script>
      var myjson;
      $.getJSON('https://www.bugtrackertools.com/bug/requestsdata', 
          function(data) {
              myjson = data.values;
          }
      )
    </script>
    
</head>

      <body class="zc-body">
        ​
        <div id="myChart" class="chart--container">
          <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
        </div>
        

        <p></p>
        <p></p>
        <p></p>
        <script> 
          document.write(myjson)
        </script>

        <script>
          zingchart.render({
            id:'mychart',
            type: 'line',
            values: myjson, 
            height: 400,
            width: 900,
          })
        </script>
      </body>

{% endblock %}


{% block scripts %}


{% load static %}
<!-- <script>
$(document).ready(function() {
  $("#formButton").click(function() {
    $("#form1").toggle();
  });
});
</script>
    <script>
        function showonlyonev2(thechosenone, buttonid, buttonid2) {
              var newboxes = document.getElementsByTagName("div");
              for(var x=0; x<newboxes.length; x++) {
                    name = newboxes[x].getAttribute("class");
                    if (name == 'tab-pane') {
                          if (newboxes[x].id == thechosenone) {
                                if (newboxes[x].style.display == 'block') {
                                      newboxes[x].style.display = 'none';
                                }
                                else {
                                      newboxes[x].style.display = 'block';
                                }
                          }else {
                                newboxes[x].style.display = 'none';
                          }
                    }
              }
            document.getElementById(buttonid).className = "btn btn-primary";
            document.getElementById(buttonid2).className = "btn btn-info";
        }
    </script> -->

{% endblock %}

{# Good resource for creating tabs: http://www.randomsnippets.com/2008/02/12/how-to-hide-and-show-your-div/ #}
{# I could probably clean this up a bit by iterating through the types of content I want to see (filtered/all) and by cleaning up the variable names #}
{# Known Issue: Once you press the button twice the main table disappears. #}