{% extends "layout.html" %}

{% block content %}

<div class="row"></div>
<div class="jumbotron">
    <h1>Bug Tracker</h1>
    <p class="lead">
            Found a bug, want to suggest a new feature? Fill out our form to request our services!
            <br>
            When you submit the form, the request will automatically be added into ClickUp, our Project Managment Software. Our Project Manager or Director will initiate the project with a call or brief discovery meeting.
    </p>
    <p><a href="{% url 'bug-create' %}" class="btn btn-primary btn-large">Click Here To Add your Request to our Workqueue!</a></p>
</div>

<br />
<!-- User Descriptions -->
<blockquote class="blockquote text-center">
    <h2 id="type-blockquotes">How to Use This Site:</h2>
</blockquote>
<div class="container-fluid">
    <div class="row">
            <div class="col-lg-4">
                <br/>
                <div class="header">
                    <h5>Requestor</h5>
                    <p>Request a bug fix, new feature, process change, etc.</p>
                </div>
                <ul>
                    <article><i class="fas fa-check-circle"></i>    Login using Google Oauth</article>
                    <article><i class="fas fa-check-circle"></i>    Login using Facebook Oauth</article>
                    <article><i class="fas fa-check-circle"></i>    Submit New Request to Bug Workqueue</article>
                    <article><i class="fas fa-check-circle"></i>    New ClickUp Task Generated Upon Request Submission</article>
                    <article><i class="fas fa-check-circle"></i>    View Requests</article>
                    <article><i class="fas fa-check-circle"></i>    View Request Status Changes and Comments</article>
                </ul>
            </div>
            <div class="col-lg-4">
                <br/>
                <div class="header">
                    <h5>Developer</h5>
                    <p>Work the queue, answer peoples questions, solve peoples problems.</p>
                </div>
                <ul>
                    <article><i class="fas fa-check-circle"></i>    Full Functionality Of A Requestor</article>
                    <article><i class="fas fa-check-circle"></i>    Login As Django Staff User</article>
                    <article><i class="fas fa-check-circle"></i>    View Full Workqueue List</article>
                    <article><i class="fas fa-check-circle"></i>    Add Statuses & Comments to Requests</article>
                </ul>
            </div>
            <div class="col-lg-4">
                <br/>
                <div class="header">
                    <h5>Admin</h5>
                    <p>Director, Project Manager, Engineer Manager</p>
                </div>
                <ul>
                    <article><i class="fas fa-check-circle"></i>    Full Functionality Of A Developer</article>
                    <article><i class="fas fa-check-circle"></i>    Login As Django Admin User</article>
                    <article><i class="fas fa-check-circle"></i>    Edit & Delete Requests</article>
                    <article><i class="fas fa-check-circle"></i>    Edit & Delete Status Updates/Comments</article>
                    <article><i class="fas fa-check-circle"></i>    Add & Delete Staff User Accounts</article>
                    <article><i class="fas fa-check-circle"></i>    Add & Delete Requestor User Accounts</article>
                </ul>
            </div>
    </div>
</div>

<style>
    body {
      margin: 0;
    }
    
    /* Include the padding and border in an element's total width and height */
    * {
      box-sizing: border-box;
    }
    
    /* Remove margins and padding from the list */
    ul {
      margin: 0;
      padding: 0;
    }

    
    /* Style the list items */
    ul article {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: #eee;
      font-size: 18px;
      transition: 0.2s;
      
      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Set all odd list items to a different color (zebra-stripes) */
    ul article:nth-child(even) {
      background: #1e2d47;
    }
    /* Set all odd list items to a different color (zebra-stripes) */
    ul article:nth-child(odd) {
      background: #1c4966;
    }
    /* Darker background-color on hover */
    ul article:hover {
      background: #141e2f;
    }
    
    /* When clicked on, add a background color and strike out text */
    ul article {
      background: #888;
      color: #fff;
    }
    
    /* Add a "checked" mark when clicked on */
    ul article.checked::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }
    
    
    /* Style the header */
    .header {
      background-color: #061f41;
      padding: 5px 5px;
      color: white;
      text-align: center;
    }
    
    /* Clear floats after the header */
    .header:after {
      content: "";
      display: table;
      clear: both;
    }
    
</style>

{% endblock %}
