{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Bug Tracker</h1>
    <p class="lead">Found a bug, want to suggest a new feature? Fill out our form!</p>
    <p><a href="{% url 'bug-create' %}" class="btn btn-primary btn-large">Click Here To Fill Out a Form! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <h2 id="type-blockquotes">Form Requestor</h2>
            <p class="mb-0">
                A requestor cannot log into the site, but they can fill out a form. As a security feature, a requestor cannot view the record list. Only a logged in user can navigate records.
            </p>
            <p><a class="btn btn-info" href="{% url 'bug-create' %}">Requestor Form &raquo;</a></p>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote text-center">
            <h2 id="type-blockquotes">Employee</h2>
            <p class="mb-0">An Employee can log in and view all records, view each record's detail, update the status of a record. An employee cannot delete a record, or update the original request. They can only add new statuses and comments.</p>
            <p><a class="btn btn-info" href="{% url 'bug-list' %}">Bug Tracker Employee &raquo;</a></p>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote text-right">
            <h2 id="type-blockquotes">Admin</h2>
            <p class="mb-0">An Admin can log in and view all records, view each record's detail, update the status of a record, update the entire record, and delete the record.</p>
            <p><a class="btn btn-info" href="{% url 'bug-list' %}">Bug Tracker Admin &raquo;</a></p>
        </blockquote>
    </div>
</div>

{% endblock %}
